{% extends "base.html" %}

{% block title %}{{ metadata.title or database }}{% endblock %}
{% block body_class %}query db-{{ database|to_css_class }}{% if canned_query %} query-{{ canned_query|to_css_class }}{% endif %}{% endblock %}

{% block extra_head %}
{{ super() }}
{% if columns %}<style>@media only screen and (max-width: 576px) {{ "{" }}{% for column in columns %}.rows-and-columns td:nth-of-type({{ loop.index }}):before { content: "{{ column|escape_css_string }}"; }{% endfor %}{{ "}" }}</style>{% endif %}
{% include "_codemirror.html" %}
{% endblock %}

{% block content %}
<h1>{{ metadata.title or database }}</h1>
{% block description_source_license %}{% include "_description_source_license.html" %}{% endblock %}

<form class="sql" action="{{ urls.database(database) }}{% if canned_query %}/{{ canned_query }}{% endif %}" method="{% if canned_write %}post{% else %}get{% endif %}">
    <h3>查询{% if display_rows %} · {% if truncated %}超过 {% endif %}{{ "{:,}".format(display_rows|length) }} 条结果{% endif %}{% if not query_error %} <span class="show-hide-sql">（<a href="{{ show_hide_link }}">{% if hide_sql %}显示 SQL{% else %}隐藏 SQL{% endif %}</a>）</span>{% endif %}</h3>
    {% if error %}<p class="message-error">{{ error }}</p>{% endif %}
    {% if not hide_sql %}
        {% if editable and allow_execute_sql %}<p><textarea id="sql-editor" name="sql">{% if query and query.sql %}{{ query.sql }}{% else %}select * from {{ tables[0].name|escape_sqlite }}{% endif %}</textarea></p>
        {% else %}<pre id="sql-query">{% if query %}{{ query.sql }}{% endif %}</pre>{% endif %}
    {% elif not canned_query %}<input type="hidden" name="sql" value="{% if query and query.sql %}{{ query.sql }}{% else %}select * from {{ tables[0].name|escape_sqlite }}{% endif %}">{% endif %}
    {% if named_parameter_values %}
        <h3>查询参数</h3>
        {% for name, value in named_parameter_values.items() %}<p><label for="qp{{ loop.index }}">{{ name }}</label> <input type="text" id="qp{{ loop.index }}" name="{{ name }}" value="{{ value }}"></p>{% endfor %}
    {% endif %}
    <p>{% if not hide_sql %}<button id="sql-format" type="button" hidden>格式化 SQL</button>{% endif %}{% if canned_write %}<input type="hidden" name="csrftoken" value="{{ csrftoken() }}">{% endif %}<input type="submit" value="运行查询"{% if canned_write and db_is_immutable %} disabled{% endif %}>{{ show_hide_hidden }}</p>
</form>

{% if display_rows %}
<p class="export-links">导出为 {% for name, url in renderers.items() %}<a href="{{ url }}">{{ name }}</a>{{ "、" if not loop.last }}{% endfor %}、<a href="{{ url_csv }}">CSV</a></p>
<div class="table-wrapper"><table class="rows-and-columns"><thead><tr>{% for column in columns %}<th class="col-{{ column|to_css_class }}" scope="col">{{ column }}</th>{% endfor %}</tr></thead><tbody>{% for row in display_rows %}<tr>{% for column, td in zip(columns, row) %}<td class="col-{{ column|to_css_class }}">{{ td }}</td>{% endfor %}</tr>{% endfor %}</tbody></table></div>
{% elif not canned_write and not error %}<p class="zero-results">没有结果</p>{% endif %}
{% include "_codemirror_foot.html" %}
{% endblock %}
